:root {
    --brand-color: #FFFFFFFF;
    --blue: #4d5ae5;
    --dark-blue: #2e2f42;
    --more-blue: #434455;
    --light-color: #F4F4FD;
    --logo-color: #f4f4f4fd;
    --button-color: #4d5ae5;
  }


body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: var(--brand-color)
}

.top-line-bg{
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.nav-menu{
display: inline-flex;
align-items: flex-start;
gap: 40px;
}

.dark-bg{
width: 1440px;
height: 600px;
flex-shrink: 0;
background: var(--NAVY-BLUE, #2E2F42);
}
.logo{
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;

}
.logo-header{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
width: 71px;
}
.logo{
text-decoration: none;
}

.link {
text-decoration: none;
}
.studio-section{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}
.studio-section:hover{
    color: #404bbf;
}
.studio-section:focus{
    color: #404bbf;
}
.list{
    list-style: none;
}
.portfolio-section{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}
.portfolio-section:hover{
    color: #404bbf;
}
.portfolio-section:focus{
    color: #404bbf;
}
.contacts-section{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}
.contacts-section:hover{
    color: #404bbf;
}
.contacts-section:focus{
    color: #404bbf;
}
.contacts{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.title{
color: var(--WHITE, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
width: 496px;
}

.order-button{
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.feature-title{
color: var(--NAVY-BLUE, #2e2f42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.feature-body{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.title2{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.title3{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.card-name{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.card-content{
color: var(--SLATE, #434455);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.footer{
background: var(--NAVY-BLUE, #2E2F42);
}

.logo2{
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo2{
    text-decoration: none;
}
.footer-logo{
color: var(--CLOUD, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-description{
color: var(--CLOUD, #F4F4FD);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.firstbtn{
color: var(--WHITE, #FFF);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
cursor: pointer; 
}

.firstbtn:hover,
.firstbtn:focus{
    color: #404BBF
}


.banking{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.banking1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.cashless{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.casheless1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.meditation{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.meditation1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.taxi{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.taxi1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.screen{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.4px;
}

.screen1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.courses{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.courses1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.instagram{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.instagram1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.organic{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.organic1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.coffee{
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.coffee1{
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.address{
    font-style: normal;
}